
.nvbr{
    background-color: purple;
}



#navbarsExample09{
    margin-top: 10rem;
}

#navbarsExample09 :hover{
    background-color: #fff;
}
.nvbr {
    transition: all 0.4s;
    background-color: purple;
}

.nvbr .nav-link {
    color: #121212;
}

.nvbr .nav-link:hover,
.nvbr .nav-link:focus {
    color: white;
    text-decoration: none;
}

.nvbr .nvbr-brand {
    color: #121212;
}


/* Change nvbr styling on scroll */
.nvbr.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.nvbr.active .nav-link {
    color: #555;
}

.nvbr.active .nav-link:hover,
.nvbr.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.nvbr.active .nvbr-brand {
    color: #555;
}


/* Change nvbr styling on small viewports */
@media (max-width: 991.98px) {
    .nvbr {
        background: #fff;
    }

    .nvbr .nvbr-brand, .nvbr .nav-link {
        color: #555;
    }
}




#sidebar {
    overflow: hidden;
    z-index: 3;
    top: 9.5rem;
    position: fixed;
    width: 8rem;
    border-radius: 0.5rem;
    height: 21.5rem;
}
#sidebar .list-group {
    min-width: 400px;
    /* background-color: #191919; */
    min-height: 100vh;
    border-radius: 0.5rem;
}
#sidebar i {
    margin-right: 6px;
}

#sidebar .list-group-item {
    border-radius: 0;
    background-color: #fff;
    color: #121212;
    border-left: 0;
    border-right: 0;
    /* border-color: #262626; */
    white-space: nowrap;
}

/* highlight active menu */
#sidebar .list-group-item:not(.collapsed) {
    background-color: #161616;
}

/* closed state */
#sidebar .list-group .list-group-item[aria-expanded="false"]::after {
  content: "\f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* open state */
#sidebar .list-group .list-group-item[aria-expanded="true"] {
  background-color: #222;
}
#sidebar .list-group .list-group-item[aria-expanded="true"]::after {
  content: "";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* level 1*/
#sidebar .list-group .collapse .list-group-item,
#sidebar .list-group .collapsing .list-group-item  {
  padding-left: 20px;
}

/* level 2*/
#sidebar .list-group .collapse > .collapse .list-group-item,
#sidebar .list-group .collapse > .collapsing .list-group-item {
  padding-left: 30px;
}

/* level 3*/
#sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
  padding-left: 40px;
}

@media (max-width:768px) {
    #sidebar {
        min-width: 35px;
        max-width: 40px;
        overflow-y: auto;
        overflow-x: visible;
        transition: all 0.25s ease;
        transform: translateX(-45px);
        position: fixed;
    }
    
    #sidebar.show {
        transform: translateX(0);
    }

    #sidebar::-webkit-scrollbar{ width: 0px; }
    
    #sidebar, #sidebar .list-group {
        min-width: 1px;
        overflow: visible;
    }
    /* overlay sub levels on small screens */
    #sidebar .list-group .collapse.show, #sidebar .list-group .collapsing {
        position: relative;
        z-index: 1;
        width: 190px;
        top: 0;
    }
    #sidebar .list-group > .list-group-item {
        text-align: center;
        padding: .75rem .5rem;
    }
    /* hide caret icons of top level when collapsed */
    #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
    #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
        display:none;
    }
}

.collapse.show {
  visibility: visible;
}
.collapsing {
  visibility: visible;
  height: 0;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: 100%;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}


/* DOC image align fix*/

.align{
display: flex;
justify-content: center;
align-items: center;
}

h1{
    margin-top: 9.5rem;
    margin-left: 9rem;
}